# Configurações do Servidor
PORT=5000
NODE_ENV=development

# URL de Conexão com o PostgreSQL
# Formato: postgresql://[usuario]:[senha]@[host]:[porta]/[nome_do_banco]
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/educonnect

# Chave Secreta para Assinatura do JWT
JWT_SECRET=sua_chave_secreta_super_segura_de_alta_entropia_educonnect
JWT_EXPIRES_IN=1d
